.quotes__container select{
    width: 250px;
    background-color: transparent;
    outline: none;
}

.custom__select { 
    font-size: 16px; 
    color: var( --main-font); 
    padding: 10px; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid var(--border);
    border-radius: 10px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3c!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3e%3csvg width='800px' height='800px' viewBox='0 -4.5 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3earrow_down [%23338]%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Dribbble-Light-Preview' transform='translate(-220.000000, -6684.000000)' fill='%23000000'%3e%3cg id='icons' transform='translate(56.000000, 160.000000)'%3e%3cpath d='M164.292308,6524.36583 L164.292308,6524.36583 C163.902564,6524.77071 163.902564,6525.42619 164.292308,6525.83004 L172.555873,6534.39267 C173.33636,6535.20244 174.602528,6535.20244 175.383014,6534.39267 L183.70754,6525.76791 C184.093286,6525.36716 184.098283,6524.71997 183.717533,6524.31405 C183.328789,6523.89985 182.68821,6523.89467 182.29347,6524.30266 L174.676479,6532.19636 C174.285736,6532.60124 173.653152,6532.60124 173.262409,6532.19636 L165.705379,6524.36583 C165.315635,6523.96094 164.683051,6523.96094 164.292308,6524.36583' id='arrow_down-[%23338]'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
}

.custom__select::-ms-expand { 
    display: none; 
} 

.custom__select option { 
    font-weight:normal; 
} 

.filted{
    display: flex;
    justify-content: space-evenly !important; 
}