.quotes__container{
    margin: 20px;
    margin-top: 0;
    justify-content: center;
    gap: 10px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.quotes__box{
    height: 140px;
    width: 300px;
    padding: 15px;
    border: 1px solid var(--border);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(164, 133, 122, 0.32);
    -moz-box-shadow: 4px 4px 8px 0px rgba(164, 133, 122, 0.32);
    box-shadow: 4px 4px 8px 0px rgba(164, 133, 122, 0.32);
}

.quotes__box p{
    padding-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}

.quotes__box hr{
    margin: 5px 0;
    width: 50%;
    height: 2px;
    background-color: var(--background-secondary);
}

.quotes__box__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes__box span {
    padding-top: 5px;
    color: var(--font-light);
    font-style: italic;
    font-weight: 600;
}

.quotes__box img{
    width: 25px;
    height: 25px;
}

.favourites__btn{
    color: var(--font-light);
    font-weight: 600;
}

.favourites__btn:hover{
    transition: 0.6s;

}
