.link__fav,
.link__fav:visited{
    position: relative;
    right: -35%;
    font-size: 22px;
    color: white; 
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.link__fav:hover{
    color: var(--font-light); /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
}